{
  "semi": true,
  "singleQuote": false,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrderParserPlugins": ["typescript", "jsx"],
  "importOrder": [
    "^react$",
    "^react-dom",
    "^react-redux$",
    "^react-router",
    "^react-",
    "^@mui/",
    "^@reduxjs/toolkit",
    "^redux",
    "^@tauri-apps/",
    "^@recrest/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@/",
    "^\\.",
    "^.+\\.css$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
